<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>ncts.filter.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>ncts.listener.MyContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoadListBookServlet</servlet-name>
        <servlet-class>ncts.servlet.LoadListBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadBookDetailServlet</servlet-name>
        <servlet-class>ncts.servlet.LoadBookDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBookServlet</servlet-name>
        <servlet-class>ncts.servlet.SearchBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ncts.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>ncts.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>ncts.servlet.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookServlet</servlet-name>
        <servlet-class>ncts.servlet.UpdateBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookServlet</servlet-name>
        <servlet-class>ncts.servlet.DeleteBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateBookServlet</servlet-name>
        <servlet-class>ncts.servlet.CreateBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>ncts.servlet.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveBookInCartServlet</servlet-name>
        <servlet-class>ncts.servlet.RemoveBookInCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuantityServlet</servlet-name>
        <servlet-class>ncts.servlet.UpdateQuantityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>ncts.servlet.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckPaymentServlet</servlet-name>
        <servlet-class>ncts.servlet.CheckPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveOrderServlet</servlet-name>
        <servlet-class>ncts.servlet.SaveOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadHistoryServlet</servlet-name>
        <servlet-class>ncts.servlet.LoadHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryDetailServlet</servlet-name>
        <servlet-class>ncts.servlet.HistoryDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveShipPaymentServlet</servlet-name>
        <servlet-class>ncts.servlet.SaveShipPaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadListBookServlet</servlet-name>
        <url-pattern>/LoadListBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadBookDetailServlet</servlet-name>
        <url-pattern>/LoadBookDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBookServlet</servlet-name>
        <url-pattern>/SearchBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookServlet</servlet-name>
        <url-pattern>/UpdateBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookServlet</servlet-name>
        <url-pattern>/DeleteBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateBookServlet</servlet-name>
        <url-pattern>/CreateBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveBookInCartServlet</servlet-name>
        <url-pattern>/RemoveBookInCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuantityServlet</servlet-name>
        <url-pattern>/UpdateQuantityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckPaymentServlet</servlet-name>
        <url-pattern>/CheckPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveOrderServlet</servlet-name>
        <url-pattern>/SaveOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadHistoryServlet</servlet-name>
        <url-pattern>/LoadHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryDetailServlet</servlet-name>
        <url-pattern>/HistoryDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveShipPaymentServlet</servlet-name>
        <url-pattern>/SaveShipPaymentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/pageNotFound.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errorServer.html</location>
    </error-page>
</web-app>
